.boxes{
    /* width: 10vw;
    height: 30vh;
    background: whitesmoke;
    color: brown;
    margin-left: 40px;
    margin-top: 40px */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    border: 5px solid black;
    color: whitesmoke;
    border-radius:10px;
    margin-top:20px
} 
.boxes img {
    width: auto;
    margin-right: 20px;
  border-radius: 5%;
  height: 300px;
}

.in-box{
    

        /* width: 230px; */
      
        /* overflow: hidden;8 */
      
        height: 300px;
      
        display: flex;
      
        flex-direction: column;
      
        justify-content: space-between;
        align-items: center
      
      
}
.inbox > btn{
  margin-top: 30px
}

@media(min-width:787px){
  .boxes{
    display: flex;
    border: 8px solid black;
    width: 60vw;
    border-radius: 10%;
  }
}