.auth-box{
    color: whitesmoke;
    height: 40vh;
    width: 25vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 20vh auto;
    flex-direction: column;
    align-items: center;

}

.auth-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px
}